<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Własny kąt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Strona główna
          <span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mieszkania</a>
      </li>
    </ul>
    <form (ngSubmit)="login()" #loginForm="ngForm" *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text"  placeholder="Login" aria-label="Search" name="userName" required
        [(ngModel)]="model.userName">
      <input class="form-control mr-sm-2" type="password"  placeholder="Hasło" aria-label="Search" required
        name="password" [(ngModel)]="model.password">

      <button class="btn btn-outline-success my-2 my-sm-0" [disabled]="loginForm.invalid" type="submit">Sign in</button>
    </form>
    <ul class="nav navbar-nav my-2 my-lg-0" *ngIf="loggedIn()">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Witaj User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Zarządzanie</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout()" >Wyloguj</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<pre>
  
</pre>